<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="НАСТРОЙКИ">    
    <setting id="animeportal_engine" type="enum" label="Плеер" default="2" values="TAM|Elementum|T2Http"/>
    <setting id="animeportal_tam" type="enum" label="Предпочитаемый TAM-движок"  visible="eq(-1,0)" default="2" values="default|ACE engine|T2Http|YATP|Torrenter|Elementum|XBMCtorrent|ACE proxy|Quasar|TorrServer"/>
    <setting label="[B]Установить T2HTTP[/B]" type="action" action="InstallAddon(script.module.torrent2http)" visible="eq(-2,2)"/>
  </category>

  <category label="ANIDUB">      
      <setting label="[B]AniDub[/B] - [COLOR gray][ Требуется Авторизация ][/COLOR]" id="use_anidub" type="bool" default="false" />
      <setting id="anidub_username" label="Логин:" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="anidub_password" label="Пароль:" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
      <setting id="anidub_mirror" label="Зеркало:" type="text" default="" subsetting="true" visible="eq(-3,true)" />
      <setting type="sep" visible="eq(-4,true)" />
      <setting id="anidub_covers" type="enum" label="Обложки:" default="0" values="Не Сохранять|Сохранять" visible="eq(-5,true)" />
      <setting id="anidub_titles" type="enum" label="Формат названий:" default="0" values="Ru|En|Ru-En" visible="eq(-6,true)" />
      <setting id="anidub_unblock" type="enum" label="Разблокировка:" default="0" values="Отключено|Antizapret - Proxy" visible="eq(-7,true)" />
      <setting id="anidub_proxy" label="session" type="text" default="" visible="false" />
      <setting id="anidub_proxy_time" label="proxy_time" type="text" default="" visible="false" />      
      <setting id="anidub_session" label="session" type="text" default="" visible="false" />
      <setting id="anidub_search" label="status" type="text" default="" visible="false" />
      <setting id="anidub_auth" label="auth" type="bool" default="false" visible="false" />
  </category>

  <category label="ANILIBRIA">
      <setting label="[B]Anilibria[/B]" id="use_anilibria" type="bool" default="true" />
      <setting id="anilibria_username" label="Логин:" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="anilibria_password" label="Пароль:" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
      <setting id="anilibria_mirror" label="Зеркало:" type="text" default="" subsetting="true" visible="eq(-3,true)" />
      <setting type="sep" visible="eq(-4,true)" />
      <setting id="anilibria_covers" type="enum" label="Обложки:" default="0" values="Не Сохранять|Сохранять" visible="eq(-5,true)" />
      <setting id="anilibria_titles" type="enum" label="Формат названий:" default="0" values="Ru|En|Ru-En" visible="eq(-6,true)" />
      <setting id="anilibria_unblock" type="enum" label="Разблокировка:" default="0" values="Отключено|Antizapret - Proxy" visible="eq(-7,true)" />
      <setting id="anilibria_proxy" label="session" type="text" default="" visible="false" />
      <setting id="anilibria_proxy_time" label="proxy_time" type="text" default="" visible="false" />      
      <setting id="anilibria_session" label="session" type="text" default="" visible="false" />
      <setting id="anilibria_search" label="status" type="text" default="" visible="false" />
      <setting id="anilibria_auth" label="auth" type="bool" default="false" visible="false" />
      <setting id="anilibria_year" label="year" type="text" default="" visible="false" />
      <setting id="anilibria_genre" label="genre" type="text" default="" visible="false" />
      <setting id="anilibria_season" label="season" type="text" default="" visible="false" />
      <setting id="anilibria_sort" label="sort" type="text" default="" visible="false" />
      <setting id="anilibria_status" label="status" type="text" default="" visible="false" />
  </category>

  <category label="ANIMEDIA">
      <setting label="[B]Animedia[/B]" id="use_animedia" type="bool" default="true" />
      <setting id="animedia_username" label="Логин:" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="animedia_password" label="Пароль:" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
      <setting id="animedia_mirror" label="Зеркало:" type="text" default="" subsetting="true" visible="eq(-3,true)" />
  </category>

  <category label="ANISTAR">
      <setting label="[B]Anistar[/B]" id="use_anistar" type="bool" default="true" />
      <setting id="anistar_username" label="Логин:" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="anistar_password" label="Пароль:" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
      <setting id="anistar_mirror" label="Зеркало:" type="text" default="" subsetting="true" visible="eq(-3,true)" />
  </category>

  <category label="ANISTAR">
      <setting label="[B]Shiza Project[/B] - [COLOR gray][ Требуется Авторизация ][/COLOR]" id="use_shizaproject" type="bool" default="false" />
      <setting id="shizaproject_username" label="Логин:" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="shizaproject_password" label="Пароль:" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,true)" />
      <setting id="shizaproject_mirror" label="Зеркало:" type="text" default="" subsetting="true" visible="eq(-3,true)" />
  </category>

</settings>