<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Настройки">
    <setting id="playmode" type="enum" label="По умолчанию включать:" default="0" values="Online Ссылки|Torrent Ссылки" />
    <setting id="quality" type="select" label="Качество по умолчанию:" default="HD" values="FHD|HD|SD" />
    <setting id="inputstream" type="enum" label="InputStream Adaptive:" default="0" values="Включено|Выключено" />
    <setting id="search_mode" type="enum" label="Транслит для поиска:" default="0" values="Выключено|Включено" />
    <setting type="sep"/>
    <setting id="mirrormode" label="Адрес:" type="enum" default="1" values="Базовый сайт|Зеркало"/>
    <setting id="mirror_0" label="Базовый сайт:" type="text" default="anilibria.top" subsetting="true" visible="eq(-1,0)" enable="false"/>
    <setting id="mirror_1" label="Зеркало:" type="text" default="anilibria.wtf" subsetting="true" visible="eq(-2,1)"/>

    <setting id="search_string" label="status" type="text" default="" visible="false"/>
    <setting id="auth" label="auth" type="bool" default="false" visible="false"/>
    <setting id="genres" label="genres" type="text" default="" visible="false"/>
    <setting id="types" label="types" type="text" default="" visible="false"/>
    <setting id="publish" label="publish" type="text" default="" visible="false"/>
    <setting id="production" label="production" type="text" default="" visible="false"/>
    <setting id="sorting" label="sorting" type="text" default="Обновлены недавно" visible="false"/>
    <setting id="seasons" label="seasons" type="text" default="" visible="false"/>
    <setting id="from_year" label="from_year" type="text" default="1990" visible="false"/>
    <setting id="to_year" label="to_year" type="text" default="2025" visible="false"/>
    <setting id="mpaa" label="mpaa" type="text" default="" visible="false"/>
    <setting id="search" label="search" type="text" default="" visible="false"/>
  </category>
  <!-- <category label="Авторизация">
    <setting id="auth_mode" type="enum" label="Авторизация:"  default="0" values="Выключено|Включено" enable="false"/>
    <setting id="username" type="text" label="Логин:" default="" subsetting="true" visible="eq(-1,1)"/>
    <setting id="password" type="text" label="Пароль:" default="" option="hidden" subsetting="true" visible="eq(-2,1)"/>
  </category> -->
  <category label="Торрент движок">
    <setting id="engine" type="enum" label="Торрент плеер:" default="0" values="TAM|ELEMENTUM" />
  </category>

</settings>