<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <category label="ANIDUB">
    <setting label="[B]ANIDUB[/B]" id="use_anidub" type="bool" default="true"/>
    <setting type="sep"/>
    <setting id="anidub_mode" type="enum" label="Режим Работы:" default="0" values="[COLOR=blue]Online[/COLOR]|[COLOR=blue]Torrent[/COLOR]" enable="eq(-2,true)"/>
    <setting type="sep"/>
    <setting id="ado_unblock" label="Разблокировка: [COLOR=blue]Online[/COLOR]" type="enum" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue]Включено[/COLOR]" visible="eq(-2,0)" enable="eq(-4,true)"/>
    <setting id="adt_unblock" label="Разблокировка: [COLOR=blue]Torrent[/COLOR]" type="enum" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue]Включено[/COLOR]" visible="eq(-3,1)" enable="eq(-5,true)"/>
    <setting type="sep"/>
    <setting id="anidub_inputstream" label="Inputstream Adaptive" type="enum" default="" values="[COLOR=blue][B]Включено[/B][/COLOR]|[COLOR=red][B]Выключено[/B][/COLOR]" visible="false" enable="eq(-7,true)"/>
    <setting type="sep"/>
    <setting id="ado_authmode" label="Авторизация [COLOR=blue]Online[/COLOR]:" type="enum" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue]Включено[/COLOR]" visible="eq(-7,0)" enable="eq(-9,true)"/>
    <setting id="ado_username" label="Логин : [COLOR=blue]Online[/COLOR]" type="text" default="" subsetting="true" visible="eq(-8,0)"/>
    <setting id="ado_password" label="Пароль : [COLOR=blue]Online[/COLOR]" type="text" default="" option="hidden" subsetting="true" visible="eq(-9,0)"/>
    <setting id="adt_authmode" label="Авторизация [COLOR=blue]Torrent[/COLOR]:" type="enum" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue]Включено[/COLOR]" visible="eq(-10,1)" enable="eq(-12,true)"/>
    <setting id="adt_username" label="Логин [COLOR=blue]Torrent[/COLOR]:" type="text" default="" subsetting="true" visible="eq(-11,1)"/>
    <setting id="adt_password" label="Пароль [COLOR=blue]Torrent[/COLOR]:" type="text" default="" option="hidden" subsetting="true" visible="eq(-12,1)"/>
    <setting type="sep"/>
    <setting id="ado_mirrormode" label="Адрес: [COLOR=blue][Online][/COLOR]" type="enum" default="0" values="Базовый сайт|Зеркало" visible="eq(-14,0)" enable="eq(-16,true)"/>
    <setting id="ado_mirror0" label="Базовый сайт [COLOR=blue][Online][/COLOR]:" type="text" default="https://anidub.live/" subsetting="true" visible="eq(-15,0)" enable="false"/>
    <setting id="ado_mirror1" label="Зеркало [COLOR=blue][Online][/COLOR]:" type="text" default="https://anidub.live/" subsetting="true" visible="eq(-16,0)" enable="eq(-18,true)"/>
    <setting id="adt_mirrormode" label="Адрес: [COLOR=blue]Torrent[/COLOR]" type="enum" default="0" values="Базовый сайт" visible="false" enable="eq(-19,true)"/>
    <setting id="adt_mirror0" label="Базовый сайт:" type="text" default="https://tr.anidub.com/" subsetting="true" visible="false" enable="false"/>
    <setting id="adt_session" label="session" type="text" default="" visible="false"/>
    <setting id="adt_search" label="status" type="text" default="" visible="false"/>
    <setting id="adt_auth" label="auth" type="bool" default="false" visible="false"/>
    <setting id="adt_proxy" label="status" type="text" default="" visible="false"/>
    <setting id="adt_proxytime" label="status" type="text" default="" visible="false"/>
    <setting id="ado_session" label="session" type="text" default="" visible="false"/>
    <setting id="ado_search" label="status" type="text" default="" visible="false"/>
    <setting id="ado_auth" label="auth" type="bool" default="false" visible="false"/>
    <setting id="ado_proxy" label="status" type="text" default="" visible="false"/>
    <setting id="ado_proxytime" label="status" type="text" default="" visible="false"/>
  </category>

  <category label="ANILIBRIA">
    <setting label="[B]Anilibria[/B]" type="bool" id="use_anilibria" default="true"/>
    <setting type="sep"/>
    <setting id="alv_mode" type="enum" label="Режим работы:" default="1" values="[COLOR=blue][B]API-V1[/B][/COLOR]|[COLOR=green][B]API-V3[/B][/COLOR]" enable="eq(-2,true)"/>
    <setting type="sep"/>
    <setting id="alv1_unblock" type="enum" label="Разблокировка" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue]Включено[/COLOR]" enable="false" visible="eq(-2,0)"/>
    <setting id="alv1_proxy" type="text" label="proxy" default="" visible="false"/>
    <setting id="alv1_proxytime" type="text" label="proxytime" default="" visible="false"/>
    <setting id="alv3_unblock" type="enum" label="Разблокировка" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue]Включено[/COLOR]" enable="false" visible="eq(-5,1)"/>
    <setting id="alv3_proxy" type="text" label="status" default="" visible="false"/>
    <setting id="alv3_proxytime" type="text" label="status" default="" visible="false"/>
    <setting type="sep"/>
    <setting id="alv_authmode" type="enum" label="Авторизация:"  default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue][B]Включено[/B][/COLOR]" enable="false"/>
    <setting id="alv_username" type="text" label="Логин:" default="" subsetting="true" visible="eq(-1,1)"/>
    <setting id="alv_password" type="text" label="Пароль:" default="" option="hidden" subsetting="true" visible="eq(-2,1)"/>
    <setting type="sep"/>
    <setting id="alv_mirrormode" type="enum" label="Выбрать адрес:" default="1" values="Базовый сайт|Зеркало" enable="eq(-15,true)"/>
    <setting id="alv_mirror0" type="text" label="Адрес:" default="https://www.anilibria.tv" subsetting="true" visible="eq(-1,0)" enable="false"/>
    <setting id="alv_mirror1" type="text" label="Адрес:" default="" subsetting="true" visible="eq(-2,1)" enable="eq(-17,true)"/>
    <setting id="alv_mirrortime" label="mirrortime" type="text" default="" visible="false"/>
    <setting type="sep"/>
    <setting id="alv1_playmode" type="enum" label="По умолчанию включать:" default="0" values="Online Ссылки|Torrent Ссылки" visible="eq(-18,0)" enable="eq(-20,true)"/>
    <setting id="alv3_playmode" type="enum" label="По умолчанию включать:" default="0" values="Online Ссылки|Torrent Ссылки" visible="eq(-19,1)" enable="eq(-21,true)"/>
    <setting id="alv1_quality" type="select" label="Качество по умолчанию:" default="HD" values="FULLHD|HD|SD" visible="eq(-20,0)" enable="eq(-22,true)"/>
    <setting id="alv3_quality" type="select" label="Качество по умолчанию:" default="HD" values="FHD|HD|SD" visible="eq(-21,1)" enable="eq(-23,true)"/>
    <setting id="alv1_inputstream" type="enum" label="InputStream Adaptive:" default="0" values="[COLOR=blue][B]Включено[/B][/COLOR]|[COLOR=red][B]Выключено[/B][/COLOR]" visible="eq(-22,0)" enable="eq(-24,true)"/>
    <setting id="alv3_inputstream" type="enum" label="InputStream Adaptive:" default="0" values="[COLOR=blue][B]Включено[/B][/COLOR]|[COLOR=red][B]Выключено[/B][/COLOR]" visible="eq(-23,1)" enable="eq(-25,true)"/>
    <setting id="alv1_search" label="search" type="text" default="" visible="false"/>
    <setting id="alv1_genre" label="genre" type="text" default="" visible="false"/>
    <setting id="alv1_year" label="year" type="text" default="" visible="false"/>
    <setting id="alv1_season" label="season" type="text" default="" visible="false"/>
    <setting id="alv1_sort" label="sort" type="text" default="Новое" visible="false"/>
    <setting id="alv1_status" label="status" type="text" default="В работе" visible="false"/>
    <setting id="alv3_search" label="status" type="text" default="" visible="false"/>
    <setting id="alv3_auth" label="auth" type="bool" default="false" visible="false"/>
    <setting id="alv3_year" label="year" type="text" default="" visible="false"/>
    <setting id="alv3_genre" label="genre" type="text" default="" visible="false"/>
    <setting id="alv3_season" label="season" type="text" default="" visible="false"/>
    <setting id="alv3_sort" label="sort" type="text" default="Новое" visible="false"/>
    <setting id="alv3_status" label="status" type="text" default="Все релизы" visible="false"/>
  </category>

  <category label="ANIMEDIA">
    <setting label="[B]Animedia[/B]" id="use_animedia" type="bool" default="true" />
    <setting type="sep"/>
    <setting id="animedia_unblock" label="Разблокировка" type="bool" default="false" enable="eq(-2,true)" />
    <setting type="sep"/>
    <setting id="animedia_auth_mode" label="Авторизация:" type="enum" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue][B]Включено[/B][/COLOR]" enable="eq(-4,true)"/>
    <setting id="animedia_username" label="[COLOR=green][Online][/COLOR] Логин:" type="text" default="" subsetting="true" visible="eq(-1,1)"/>
    <setting id="animedia_password" label="[COLOR=green][Online][/COLOR] Пароль:" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,1)"/>
    <setting type="sep"/>
    <setting id="animedia_covers" type="enum" label="Обложки:" default="0" values="Не Сохранять|Сохранять" enable="eq(-8,true)"/>
    <setting id="animedia_titles" type="enum" label="Формат названий:" default="0" values="Ru|En|Ru-En" enable="eq(-9,true)"/>
    <setting id="animedia_torrents" type="enum" label="Разблокировка только торрентов:" default="0" values="[COLOR=blue][B]Включено[/B][/COLOR]|[COLOR=red][B]Выключено[/B][/COLOR]" enable="eq(-10,true)"/>
    <setting type="sep"/>
    <setting id="animedia_mirror_mode" label="Зеркало:" type="enum" default="0" values="Базовый сайт|Зеркало" enable="eq(-12,true)"/>
    <setting id="animedia_mirror_0" label="Адрес:" type="text" default="https://online.animedia.tv/" subsetting="true" visible="eq(-1,0)" enable="false"/>
    <setting id="animedia_mirror_1" label="Адрес:" type="text" default="" subsetting="true" visible="eq(-2,1)"/>
    <setting type="sep"/>
    <setting id="animedia_engine" type="enum" label="Торрент плеер:" default="0" values="TAM|ELEMENTUM" enable="eq(-16,true)"/>
    <setting id="animedia_tam" type="enum" label="TAM-плеер:"  visible="eq(-1,0)" default="0" subsetting="true" values="DEFAULT|ACE|T2HTTP|YATP|TORRENTER|ELEMENTUM|XBMCTORRENT|ACE_PROXY|QUASAR|TORRSERVER|TORRSERVER_TAM|LT2HTTP" />
    <setting id="animedia_session" label="session" type="text" default="" visible="false"/>
    <setting id="animedia_search" label="status" type="text" default="" visible="false"/>
    <setting id="animedia_auth" label="auth" type="bool" default="false" visible="false"/>
    <setting id="animedia_genre" label="genre" type="text" default="" visible="false"/>
    <setting id="animedia_year" label="year" type="text" default="" visible="false"/>
    <setting id="animedia_form" label="form" type="text" default="" visible="false"/>
    <setting id="animedia_status" label="status" type="text" default="" visible="false"/>
    <setting id="animedia_sort" label="sort" type="text" default="Дате добавления" visible="false"/>
    <setting id="animedia_studio" label="studio" type="text" default="" visible="false"/>
    <setting id="animedia_voice" label="studio" type="text" default="" visible="false"/>
    <setting id="animedia_proxy" label="status" type="text" default="" visible="false"/>
    <setting id="animedia_proxy_time" label="status" type="text" default="" visible="false"/>
  </category>

  <category label="ANISTAR">
    <setting label="[B]AniStar[/B]" id="use_anistar" type="bool" default="true" />
    <setting type="sep"/>
    <setting id="anistar_unblock" label="Разблокировка" type="bool" default="false" enable="eq(-2,true)" />
    <setting type="sep"/>
    <setting id="anistar_auth_mode" label="Авторизация:" type="enum" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue][B]Включено[/B][/COLOR]" enable="eq(-4,true)"/>
    <setting id="anistar_username" label="Логин:" type="text" default="" subsetting="true" visible="eq(-1,1)"/>
    <setting id="anistar_password" label="Пароль:" type="text" default="" option="hidden" subsetting="true" visible="eq(-2,1)"/>
    <setting type="sep"/>
    <setting id="anistar_covers" type="enum" label="Обложки:" default="0" values="Не Сохранять|Сохранять" enable="eq(-8,true)"/>
    <setting id="anistar_titles" type="enum" label="Формат названий:" default="0" values="Ru|En|Ru-En" enable="eq(-9,true)"/>
    <setting type="sep"/>
    <setting id="anistar_mirror_mode" label="Зеркало:" type="enum" default="1" values="Базовый сайт|Зеркало" enable="eq(-11,true)"/>
    <setting id="anistar_mirror_0" label="Адрес:" type="text" default="https://anistar.org/" subsetting="true" visible="eq(-1,0)" enable="false"/>
    <setting id="anistar_mirror_1" label="Адрес:" type="text" default="" subsetting="true" visible="eq(-2,1)"/>
    <setting type="sep"/>
    <setting id="anistar_engine" type="enum" label="Торрент плеер:" default="0" values="TAM|ELEMENTUM" enable="eq(-15,true)"/>
    <setting id="anistar_tam" type="enum" label="TAM-плеер:"  visible="eq(-1,0)" default="0" subsetting="true" values="DEFAULT|ACE|T2HTTP|YATP|TORRENTER|ELEMENTUM|XBMCTORRENT|ACE_PROXY|QUASAR|TORRSERVER|TORRSERVER_TAM|LT2HTTP" />
    <setting type="sep"/>
    <setting id="anistar_adult" label="Контент 18+ :" type="enum" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue][B]Включено[/B][/COLOR]" enable="eq(-18,true)"/>
    <setting id="anistar_adult_pass" label="Пароль:" type="text" default="" option="hidden" subsetting="true" visible="eq(-1,1)" />
    <setting id="anistar_session" label="session" type="text" default="" visible="false"/>
    <setting id="anistar_search" label="status" type="text" default="" visible="false"/>
    <setting id="anistar_auth" label="auth" type="bool" default="false" visible="false"/>
    <setting id="anistar_proxy" label="status" type="text" default="" visible="false"/>
    <setting id="anistar_proxy_time" label="status" type="text" default="" visible="false"/>
  </category>

  <category label="SHIZAPROJECT">
    <setting label="[B]ShizaProject[/B]" id="use_shizaproject" type="bool" default="true" />
    <setting type="sep"/>
    <setting id="sp_authmode" type="enum" label="Авторизация:" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=blue][B]Включено[/B][/COLOR]" enable="false" />
    <setting id="sp_username" type="text" label="Логин:" default="" subsetting="true" visible="eq(-1,1)"/>
    <setting id="sp_password" type="text" label="Пароль:" default="" option="hidden" subsetting="true" visible="eq(-2,1)"/>
    <setting type="sep"/>
    <setting id="sp_playmode" type="enum" label="По умолчанию включать:" default="0" values="Online Ссылки|Torrent Ссылки" enable="eq(-6,true)"/>
    <setting id="sp_playerselect" type="select" label="Ссылки для плеера:" default="KODIK" values="KODIK|SIBNET" enable="eq(-7,true)"/>
    <setting id="sp_inputstream" type="enum" label="InputStream Adaptive:" default="0" values="[COLOR=blue][B]Включено[/B][/COLOR]|[COLOR=red][B]Выключено[/B][/COLOR]" enable="eq(-8,true)"/>
    <setting id="sp_search" type="text" label="search" default="" visible="false"/>

    <setting id="sp_yearstart" type="text" label="year" default="1970" visible="false"/>
    <setting id="sp_yearend" type="text" label="year" default="2023" visible="false"/>
    <setting id="sp_season" type="text" label="season" default="" visible="false"/>
    <setting id="sp_categories" type="text" label="categories" default="Аниме" visible="false"/>
    <setting id="sp_status" type="text" label="status" default="" visible="false"/>
    <!-- <setting id="sp_voicestat" type="text" label="voice_stat" default="" visible="false"/> -->
    <setting id="sp_form" type="text" label="form" default="" visible="false"/>
    <setting id="sp_genre" type="text" label="genre" default="" visible="false"/>
    <setting id="sp_sort" type="text" label="sort" default="Дате публикации" visible="false"/>
    <setting id="sp_direction" type="text" label="direction" default="По убыванию" visible="false"/>

    <!-- <setting id="sp_session" label="session" type="text" default="" visible="false"/>    
    <setting id="sp_auth" label="auth" type="bool" default="false" visible="false"/>     -->


  </category>
  
</settings>