<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <category label="Настройки">
    <setting id="quality" label="Выбор Качества:" type="select" values="1080|720|480|Выбрать" default="Выбрать" />
    <setting type="sep"/>
    <setting id="rating" label="Источник рейтинга:" type="select" values="imdb|kinopoisk" default="kinopoisk" />
    <setting id="search" label="status" type="text" default="" visible="false"/>
    <setting id="site_url" label="status" type="text" default="https://redheadsound.ru/" visible="false"/>
  </category>
  
</settings>