<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <category label="Настройки">
    <setting id="username" label="Логин:" type="text" default=""/>
    <setting id="password" label="Пароль:" type="text" default="" option="hidden"/>
    <setting type="sep"/>
    <!-- <setting id="lostfilm_covers" type="enum" label="Обложки:" default="0" values="Не Сохранять|Сохранять" /> -->
    <setting id="titles" type="enum" label="Формат названий:" default="0" values="Ru|En" />
    <setting id="local_torrent" type="enum" label="Загруженные торренты:" default="0" values="Использовать|Не использовать"/>
    <setting id="quality" type="enum" label="Выбор Качества:" default="0" values="Все|SD|HD|FHD" />
    <setting type="sep"/>
    <setting id="mirror_mode" label="Зеркало:" type="enum" default="0" values="Базовый сайт|Зеркало" />
    <setting id="mirror_0" label="Адрес:" type="text" default="https://www.lostfilm.tv/" subsetting="true" visible="eq(-1,0)" enable="false"/>
    <setting id="mirror_1" label="Адрес:" type="text" default="https://www.lostfilm.run/" subsetting="true" visible="eq(-2,1)"/>
    <setting type="sep"/>
    <setting id="engine" type="enum" label="Торрент плеер:" default="0" values="TAM|Elementum" />
    <setting id="tam" type="enum" label="TAM-плеер:"  visible="eq(-1,0)" default="0" subsetting="true" values="default|ACE engine|T2Http|YATP|Torrenter|Elementum|XBMCtorrent|ACE proxy|Quasar|TorrServer" />
    <setting id="auth_session" label="session" type="text" default="" visible="false"/>
    <setting id="user_session" label="session" type="text" default="" visible="false"/>
    <setting id="search" label="status" type="text" default="" visible="false"/>
    <setting id="auth" label="auth" type="bool" default="false" visible="false"/>
    <setting id="genre" label="genre" type="text" default="" visible="false"/>
    <setting id="year" label="year" type="text" default="" visible="false"/>
    <setting id="channel" label="channel" type="text" default="" visible="false"/>
    <setting id="types" label="types" type="text" default="" visible="false"/>
    <setting id="sort" label="sort" type="text" default="По алфавиту" visible="false"/>
    <setting id="status" label="status" type="text" default="все" visible="false"/>
  </category>

  <category label="Оформление">
    <setting id="search_color" type="enum" label="Поиск" default="0" values="Нет|[COLOR=red]Красный[/COLOR]|[COLOR=lime]Зеленый[/COLOR]|[COLOR=blue]Синий[/COLOR]|[COLOR=gold]Желтый[/COLOR]|[COLOR=orange]Оранжевый[/COLOR]" />
    <setting id="schedule_color" type="enum" label="Расписание" default="0" values="Нет|[COLOR=red]Красный[/COLOR]|[COLOR=lime]Зеленый[/COLOR]|[COLOR=blue]Синий[/COLOR]|[COLOR=gold]Желтый[/COLOR]|[COLOR=orange]Оранжевый[/COLOR]" />
    <setting id="favorites_color" type="enum" label="Избранное" default="0" values="Нет|[COLOR=red]Красный[/COLOR]|[COLOR=lime]Зеленый[/COLOR]|[COLOR=blue]Синий[/COLOR]|[COLOR=gold]Желтый[/COLOR]|[COLOR=orange]Оранжевый[/COLOR]" />
    <setting id="new_color" type="enum" label="Новинки" default="0" values="Нет|[COLOR=red]Красный[/COLOR]|[COLOR=lime]Зеленый[/COLOR]|[COLOR=blue]Синий[/COLOR]|[COLOR=gold]Желтый[/COLOR]|[COLOR=orange]Оранжевый[/COLOR]" />
    <setting id="serials_color" type="enum" label="Все сериалы" default="0" values="Нет|[COLOR=red]Красный[/COLOR]|[COLOR=lime]Зеленый[/COLOR]|[COLOR=blue]Синий[/COLOR]|[COLOR=gold]Желтый[/COLOR]|[COLOR=orange]Оранжевый[/COLOR]" />
    <setting id="catalog_color" type="enum" label="Каталог сериалов" default="0" values="Нет|[COLOR=red]Красный[/COLOR]|[COLOR=lime]Зеленый[/COLOR]|[COLOR=blue]Синий[/COLOR]|[COLOR=gold]Желтый[/COLOR]|[COLOR=orange]Оранжевый[/COLOR]" />
    <setting type="sep"/>
    <setting id="search_name_color" type="enum" label="Поиск по названию" default="0" values="Нет|[COLOR=red]Красный[/COLOR]|[COLOR=lime]Зеленый[/COLOR]|[COLOR=blue]Синий[/COLOR]|[COLOR=gold]Желтый[/COLOR]|[COLOR=orange]Оранжевый[/COLOR]" />
  </category>

</settings>