<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <category label="Настройки">
    <setting id="quality" label="Выбор Качества:" type="enum" default="2" values="480|720|1080|Выбрать" />
    <setting type="sep"/>
    <setting id="search" label="search" type="text" default="" visible="false"/>
    <setting type="sep"/>
    <setting id="inputstream_adaptive" label="Inputstream Adaptive" type="enum" default="0" values="[COLOR=lime][B]Включено[/B][/COLOR]|[COLOR=red][B]Выключено[/B][/COLOR]" />
  </category>

  <category label="Разблокировка">
    <setting id="unblock" label="Разблокировка" type="enum" default="0" values="[COLOR=red][B]Выключено[/B][/COLOR]|[COLOR=lime][B]Антизапрет[/B][/COLOR]" />
    <setting type="sep"/>
    <setting id="mirror_mode" label="Зеркало:" type="enum" default="0" values="Базовый сайт|Зеркало-1|Зеркало-2" />
    <setting id="mirror_0" label="Адрес:" type="text" default="https://redheadsound.studio/" subsetting="true" visible="eq(-1,0)" enable="false"/>
    <setting id="mirror_1" label="Адрес:" type="text" default="" subsetting="true" visible="eq(-2,1)"/>
    <setting id="mirror_2" label="Адрес:" type="text" default="" subsetting="true" visible="eq(-3,2)"/>
    <setting id="proxy" label="status" type="text" default="" visible="false"/>
    <setting id="proxy_time" label="status" type="text" default="" visible="false"/>
  </category>

</settings>