<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Интерфейс">
    <!-- <setting id="online_mode" type="bool" label="Смотреть онлайн" default="false" /> -->
    <setting id="cover_mode" type="bool" label="Сохранять обложки" default="false" />
    <setting id="title_mode" type="enum" label="Названия аниме" values="Ru|En|Ru-En" default="0" />
  </category>
  <category label="Доступ к сайту">
    <setting id="unblock" type="enum" label="Разблокировка:" default="0" values="Отключено|Antizapret - Proxy"/>
    <setting type="sep"/>
    <setting id="login" type="text" label="Логин" default="" />
    <setting id="password" type="text" option="hidden" label="Пароль" enable="!eq(-1,)" default="" />
    <setting type="sep"/>  
  </category>
  <category label="P2P">
    <setting id="Engine" type="enum" label="Плеер" default="0" values="TAM|Elementum"/>
    <setting id="TAMengine" type="enum" label="Предпочитаемый TAM-движок"  visible="eq(-1,0)" default="0" values="default|ACE engine|T2Http|YATP|Torrenter|Elementum|XBMCtorrent|ACE proxy|Quasar|TorrServer"/>
  </category>
</settings>